body{
    background-color: white;
}

.container{
    display: grid;
    height: 520px;
    width: auto;
    grid-template-columns: 2fr 5fr 1fr;
    gap: 20px;
}

.subcontedor{
    height: 100%;
    border: 1px solid black;
}

.c1{
    background-color: whitesmoke;
}
.c2{
    background-color: lightgray;
}
.c3{
    background-color: whitesmoke;
}