#chessboard {
    width: auto;
    height: auto;
    display: grid;
    
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


.cell {
    border: 1px solid black;
    box-sizing: border-box;
}

.white {
    background-color: white;
    cursor: pointer;
}

.black {
    background-color: gray;
}

.piece {
    font-size: 60px;
    text-align: center;
}
