body {
    background-color: white;
    padding-bottom: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161B22;
}

li {
    float: left;
}
.miTitulo{
    max-width: 100%;
    max-height: 100%;
}
.imagen{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0D1117;
}

.container {
    display: grid;
    height: 900px;
    width: auto;
    grid-template-columns: 2fr 6fr 1fr;
    gap: 20px;
}

.subcontedor {
    height: 100%;
    border: 1px solid black;
}
.hoja{
    background-color: white;
    padding: 30px;
    border: 1px solid black;
}

.miniatura{
    flex: 0 0 auto;
    background-color: white;
    padding: 30px;
    width: auto;
    height: 215px;
    cursor: pointer;
    border: 1px solid black;
    align-items: center;

}
.c1 {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 10px;
    overflow:auto;
}
.c2 {
    background-color: lightgray;
    display: grid;
    padding: 20px;
    gap: 20px;
}
.c3 {
    background-color: whitesmoke;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.botonTablero {
    width: 45%;
    margin: 1rem;
}
